Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

test: update tests for App
  src/app/tests/App.test.tsx
Due: npm run lint, npm run format:fix

test: update tests for Main Page
  src/pages/main/tests/MainPage.test.tsx
Due: npm run lint, npm run format:fix

feat: add a permanent vertical scroll to the app
  src/app/styles/base/settings.css
Due: npm run format:fix, npm run stylelint

test: update tests fo DetailedCharacterLayout
  src/pages/main/tests/ui/DetailedCharacterLayout.test.tsx
Due: npm run lint, npm run format:fix

chore(config): add noImplicitAny rule to ts config
  tsconfig.app.json
  tsconfig.json
Due: none

chore: exclude types from test coverage
  vitest.config.js
Due: none

chore: replace files
  src/pages/main/MainPage.tsx
  src/shared/ui/Header/Header.tsx
  src/shared/ui/ToggleThemeButton/ToggleThemeButton.tsx
Due: npm run lint, npm run format:fix

chore: add tailwind config
  tailwind.config.js
Due: none

chore(config): add custom-variant in ignoreAtRules
  .stylelintrc.json
Due: none

feat: change base styles to tailwind classes, update styles
  src/app/styles/base/settings.css
  src/app/styles/base/variables.css
  src/app/styles/main.css
  src/shared/ui/Button/Button.module.css
Due: npm run format:fix, npm run stylelint

feat: add noopener noreferrer for the link
  src/pages/About/AboutPage.tsx
Due: npm run lint, npm run format:fix

feat: update styles for Button, Input components
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:fix

chore: remove unused types for Pokemon api
  src/shared/api/types/AllPokemonTypes.ts
  src/shared/api/types/SinglePokemonTypes.ts
Due: npm run lint, npm run format:fix

chore: remove console.log
  src/shared/mocks/handlers.ts
Due: npm run lint, npm run format:fix

test: add test for selectionSlice
  src/store/tests/selectionSlice.test.ts
Due: npm run lint, npm run format:fix

chore: add export for SelectedItem interface
  src/store/slices/selectionSlice.ts
Due: npm run lint, npm run format:fix

chore: remove className from Input
  src/pages/main/ui/SearchBox/SearchBox.tsx
Due: npm run lint, npm run format:fix

chore(config): add clearAllMocks in tests config
  setup.js
Due: none

test: add tests for SelectionToolbar
  src/pages/main/tests/ui/SelectionToolbar/SelectionToolbar.test.tsx
Due: npm run lint, npm run format:fix

chore(config): off unicorn/prefer-spread rule
  eslint.config.js
Due: none

feat: add base api service
  src/app/api/service/base.service.ts
Due: npm run lint, npm run format:fix

feat: add endpoints for get characters
  src/app/api/service/characters/character.service.ts
Due: npm run lint, npm run format:fix

chore: update base api path name, update imports
  src/pages/main/tests/SearchBox/SearchBox.test.tsx
  src/pages/main/ui/AllCharactersTable.tsx
  src/pages/main/ui/SearchBox/SearchBox.tsx
  src/shared/api/endpoints.ts
Due: npm run lint, npm run format:fix

feat: update useCharacterSearch hook with rtk query
  src/pages/main/hooks/useCharactersSearch.ts
Due: npm run lint, npm run format:fix

feat: update main page with new implementation useCharactersSearch hook
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

feat: update get single character with rtk query
  src/pages/main/ui/DetailedCharacterLayout.tsx
Due: npm run lint, npm run format:fix

chore: remove old api service
  src/shared/api/service/api.service.ts
Due: npm run lint, npm run format:fix

feat: update DataUploadError for rtk query
  src/shared/ui/DataUploadError.tsx
  src/shared/ui/DataUploadError/DataUploadError.tsx
  src/shared/ui/DataUploadError/getErrorMessage.ts
Due: npm run lint, npm run format:fix

feat: add base service reducer and middleware to store
  src/store/store.ts
Due: npm run lint, npm run format:fix

feat: add button for reset rtk query cache
  src/shared/ui/ResetCacheButton/ResetCacheButton.tsx
Due: npm run lint, npm run format:fix

feat: add reset cache button to header
  src/shared/ui/Header/Header.tsx
Due: npm run lint, npm run format:fix

chore: remove old api service tests
  src/shared/tests/api/service/api.service.test.ts
Due: npm run lint, npm run format:fix

test: update tests
  src/pages/main/tests/ui/DetailedCharacterLayout.test.tsx
Due: npm run lint, npm run format:fix

refactor: change structure of getVisiblePageNumbers
  src/pages/main/ui/Pagination/getVisiblePageNumbers.ts
Due: npm run lint, npm run format:fix

feat: update styles for pagination
  src/pages/main/ui/Pagination/Pagination.tsx
Due: npm run lint, npm run format:fix

refactor: convert magic numbers to constants, add logic to display less than 7 pages
  src/pages/main/ui/Pagination/getVisiblePageNumbers.ts
Due: npm run lint, npm run format:fix

test: update tests for getVisiblePageNumbers
  src/pages/main/tests/ui/Pagination/getVisiblePageNumbers.test.ts
Due: npm run lint, npm run format:fix

test: update test for pagination
  src/pages/main/tests/ui/Pagination/Pagination.test.tsx
Due: npm run lint, npm run format:fix

feat: add ts type guards
  src/shared/utils/typeguards.ts
Due: npm run lint, npm run format:fix

refactor: update getErrorMessage with isObject type guard
  src/shared/ui/DataUploadError/getErrorMessage.ts
Due: npm run lint, npm run format:fix

Path conditions:
  npm run lint: any of: src/**/*.{ts,js,tsx,jsx}
  npm run format:fix: (any of: src/**/*.{ts,js,tsx,jsx}) or (any of: src/**/*.{css,scss})
  npm run stylelint: any of: src/**/*.{css,scss}
