Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format:fix"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format:fix"]
}

test: add tests for SingleCharacterTable
  src/pages/main/tests/ui/SingleCharacterTable.test.tsx
Due: npm run lint, npm run format:fix

test: add tests for Pagination
  src/pages/main/tests/ui/Pagination/Pagination.test.tsx
Due: npm run lint, npm run format:fix

feat: add a check for missing id, add a close button
  src/pages/main/ui/DetailedCharacterLayout.tsx
Due: npm run lint, npm run format:fix

test: add tests for useLocalStorage
  src/shared/hooks/test/useLocalStorage.test.ts
Due: npm run lint, npm run format:fix

feat: change the verification of incoming parameters
  src/pages/main/ui/SingleCharacterTable.tsx
Due: npm run lint, npm run format:fix

test: add tests for DetailedCharacterLayout
  src/pages/main/tests/ui/DetailedCharacterLayout.test.tsx
Due: npm run lint, npm run format:fix

chore(config): add rollup-linux for netlify
  package.json
Due: none

chore(config): remove optional dependencies
  package.json
Due: none

chore(config): add versel, netlify files in gitignore, update configs
  .gitignore
  package-lock.json
Due: none

chore(config): add vercel config, update configs
  package-lock.json
  package.json
  tsconfig.app.json
  vercel.json
Due: none

refactor: swap the Not found render and the spriner
  src/pages/main/ui/DetailedCharacterLayout.tsx
Due: npm run lint, npm run format:fix

refactor: make SingleCharacter display useNavigate, add isLoading inside AllCharactersTable
  src/pages/main/MainPage.tsx
  src/pages/main/ui/AllCharactersTable.tsx
Due: npm run lint, npm run format:fix

feat: add new styles for spinner
  src/shared/ui/Spinner/Spinner.css
Due: npm run format:fix, npm run stylelint

refactor: remove searchParameters from dependencies, change naming
  src/pages/main/hooks/useCharactersSearch.ts
Due: npm run lint, npm run format:fix

chore: add redux toolkit
  package-lock.json
  package.json
Due: none

feat: add redux store with base types
  src/store/store.ts
Due: npm run lint, npm run format:fix

feat: add slice for selection items, add reducer to store
  src/store/slices/selectionSlice.ts
  src/store/store.ts
Due: npm run lint, npm run format:fix

chore: add file-saver in project
  package-lock.json
  package.json
Due: none

feat: add onChange, onClick with stopPropagation for Input component
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:fix

feat: add provider for app
  src/main.tsx
Due: npm run lint, npm run format:fix

feat: add redux hooks for ts
  src/shared/hooks/reduxHooks.ts
Due: npm run lint, npm run format:fix

feat: add SelectionToolbar component to display information about selected items and downloads
  src/pages/main/MainPage.tsx
  src/pages/main/ui/SelectionToolbar/SelectionToolbar.tsx
Due: npm run lint, npm run format:fix

feat: add checkboxes for table elements, add element selection logic
  src/pages/main/ui/AllCharactersTable.tsx
Due: npm run lint, npm run format:fix

chore: add types for testing library
  tsconfig.app.json
Due: none

chore(config): disable unicorn/prefer-dom-node-dataset rule
  eslint.config.js
Due: none

feat: add new logo
  public/logo.png
  public/pokeball.png
Due: none

feat: change title
  index.html
Due: none

feat: remove spinner text content, update styles
  src/shared/ui/Spinner/Spinner.css
  src/shared/ui/Spinner/Spinner.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

chore(config): off unicorn/prefer-add-event-listener rule
  eslint.config.js
Due: none

feat: add portal image for spinner
  public/portal.png
Due: none

feat: update spinner with new image
  src/shared/ui/Spinner/Spinner.css
  src/shared/ui/Spinner/Spinner.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

feat: update styles
  src/pages/main/MainPage.tsx
  src/pages/main/ui/AllCharactersTable.tsx
  src/pages/main/ui/Pagination/Pagination.tsx
  src/pages/main/ui/SelectionToolbar/SelectionToolbar.tsx
Due: npm run lint, npm run format:fix

feat: add ThemeContext and ThemeProvider
  src/app/providers/ThemeProvider/ThemeContext.ts
  src/app/providers/ThemeProvider/ThemeProvider.tsx
Due: npm run lint, npm run format:fix

feat: add ThemeProvider in app
  src/main.tsx
Due: npm run lint, npm run format:fix

feat: add useTheme hook
  src/app/providers/ThemeProvider/useTheme.ts
Due: npm run lint, npm run format:fix

feat: add theme styles
  src/app/styles/base/settings.css
Due: npm run format:fix, npm run stylelint

feat: add ToggleThemeButton in project and Header
  src/widgets/ui/Header/Header.tsx
  src/widgets/ui/ToggleThemeButton/ToggleThemeButton.tsx
Due: npm run lint, npm run format:fix

feat: add render functions for tests
  src/shared/mocks/renderFunctions.tsx
Due: npm run lint, npm run format:fix

refactor: move data mock to a separate file
  src/shared/mocks/mockData.ts
Due: npm run lint, npm run format:fix

test: update test for AllCharactersTable
  src/pages/main/tests/ui/AllCharactersTable.test.tsx
Due: npm run lint, npm run format:fix
