Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format:fix"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format:fix"]
}

feat: add zustand store
  src/store/store.ts
Due: npm run lint, npm run format:fix

feat: add a scroll to the modal window when the content height is greater than 100vh
  src/shared/ui/Modal.tsx
Due: npm run lint, npm run format:fix

feat: add function for check password strength
  src/pages/main/utils/checkPasswordStrength.ts
Due: npm run lint, npm run format:fix

feat: add uncontrolled form
  src/pages/main/ui/UncontrolledForm.tsx
Due: npm run lint, npm run format:fix

feat: add controlled form with react hook form
  src/pages/main/ui/ControlledForm.tsx
Due: npm run lint, npm run format:fix

feat: add function for validate and read image file
  src/pages/main/utils/fileUtils.ts
Due: npm run lint, npm run format:fix

feat: update errors messages
  src/pages/main/model/schema.ts
Due: npm run lint, npm run format:fix

feat: update min with forms
  src/pages/main/ui/ControlledForm.tsx
  src/pages/main/ui/UncontrolledForm.tsx
Due: npm run lint, npm run format:fix

feat: change ref naming, add the creation of a unique ID for checkboxes and radio
  src/shared/ui/inputs/FormInput.tsx
Due: npm run lint, npm run format:fix

feat: collect all the functionality of the application on the main page
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

test: add tests
  src/__tests__/pages/main/components/UncontrolledForm.test.tsx
  src/__tests__/pages/main/utils/chekPasswordStrength.test.ts
  src/__tests__/shared/ui/FormInput.test.tsx
Due: npm run lint, npm run format:fix

chore: add export for store type
  src/store/store.ts
Due: npm run lint, npm run format:fix

feat: update form input
  src/shared/ui/inputs/FormInput.tsx
Due: npm run lint, npm run format:fix

chore: add model directory to test coverage ignore
  vitest.config.js
Due: none

chore: add vitest ui
  package-lock.json
  package.json
Due: none

chore: add vitest globals
  src/vite-env.d.ts
Due: npm run lint, npm run format:fix

style: remove unusable strings
  src/pages/main/ui/ControlledForm.tsx
Due: npm run lint, npm run format:fix

test: add tests
  src/__tests__/pages/main/Main.test.tsx
  src/__tests__/pages/main/components/ControlledForm.test.tsx
  src/__tests__/pages/main/utils/fileUtils.test.ts
Due: npm run lint, npm run format:fix

chore: add data test id for close button
  src/shared/ui/Modal.tsx
Due: npm run lint, npm run format:fix

chore: add export for max safe size
  src/pages/main/utils/fileUtils.ts
Due: npm run lint, npm run format:fix

test: remove any from test files
  src/__tests__/pages/main/components/ControlledForm.test.tsx
  src/__tests__/pages/main/components/UncontrolledForm.test.tsx
Due: npm run lint, npm run format:fix

chore: add base configs
  .gitignore
  .lintstagedrc.json
  .prettierrc
  .stylelintrc.json
  README.md
  commitlint.config.js
  eslint.config.js
  index.html
  package-lock.json
  package.json
  setup.js
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vercel.json
  vite.config.ts
  vitest.config.js
Due: none

feat: add base files, add base styles, update title
  index.html
  package.json
  src/app/App.tsx
  src/main.css
  src/main.tsx
  src/pages/main/MainPage.tsx
  src/vite-env.d.ts
Due: npm run lint, npm run format:fix, npm run stylelint

feat: add types for json
  src/shared/types/types.ts
Due: npm run lint, npm run format:fix

chore: remove strict mode
  src/main.tsx
Due: npm run lint, npm run format:fix

feat: add country table with lazy load
  src/pages/main/MainPage.tsx
  src/pages/main/components/CountryTable.tsx
Due: npm run lint, npm run format:fix

feat: add a country search
  src/pages/main/components/CountryTable.tsx
Due: npm run lint, npm run format:fix

feat: add filtering by year
  src/pages/main/components/CountryTable.tsx
Due: npm run lint, npm run format:fix

feat: implement adding new columns to the table
  src/pages/main/components/CountryTable.tsx
Due: npm run lint, npm run format:fix

feat: add sorting, update naming
  src/pages/main/components/CountryTable.tsx
Due: npm run lint, npm run format:fix

feat: add skeleton table
  src/pages/main/components/SkeletonTable.tsx
Due: npm run lint, npm run format:fix

feat: add load with suspense
  src/pages/main/MainPage.tsx
  src/pages/main/components/CountryTable.tsx
  src/pages/main/components/CountryTableWrapper.tsx
Due: npm run lint, npm run format:fix

feat: add data highlighting when the year changes
  src/pages/main/components/CountryTable.tsx
Due: npm run lint, npm run format:fix

docs: add the performance report
  README.md
  docs/img/fg-for-adding-removing-columns.png
  docs/img/fg-for-change-year.png
  docs/img/fg-for-searching.png
  docs/img/fg-for-sorting.png
  docs/img/rc-for-adding-removing-columns.png
  docs/img/rc-for-change-year.png
  docs/img/rc-for-searching.png
  docs/img/rc-for-sorting.png
Due: none

feat: add optimization for functions and components, update styles, change files position
  src/main.css
  src/pages/main/MainPage.tsx
  src/pages/main/components/CountryTable.tsx
  src/pages/main/model/constants.ts
  src/pages/main/model/types.ts
  src/pages/main/ui/CountryTable.tsx
  src/pages/main/ui/CountryTableWrapper.tsx
  src/pages/main/ui/ExtraColumnsModal.tsx
  src/pages/main/ui/TableColumnsHeader.tsx
  src/pages/main/ui/TableHeader.tsx
  src/pages/main/ui/TableRow.tsx
  src/shared/ui/SkeletonTable.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

feat: update main styles
  src/main.css
Due: npm run format:fix, npm run stylelint

docs: update performance check after optimization
  README.md
  docs/img/AFTER-OPT-fg-for-adding-removing-columns.png
  docs/img/AFTER-OPT-fg-for-change-year.png
  docs/img/AFTER-OPT-fg-for-searching.png
  docs/img/AFTER-OPT-fg-for-sorting.png
  docs/img/AFTER-OPT-rc-for-adding-removing-columns.png
  docs/img/AFTER-OPT-rc-for-change-year.png
  docs/img/AFTER-OPT-rc-for-searching.png
  docs/img/AFTER-OPT-rc-for-sorting.png
Due: none

docs: remove comments from readme
  README.md
Due: none

feat: add cursor pointer for selects
  src/pages/main/ui/TableHeader.tsx
Due: npm run lint, npm run format:fix

fix: fix incorrect skeleton display
  src/pages/main/ui/CountryTable.tsx
  src/shared/ui/SkeletonTable.tsx
  src/shared/ui/SkeletonTableBody.tsx
Due: npm run lint, npm run format:fix
