Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format:fix"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format:fix"]
}

feat: add searchPokemon service
  src/shared/api/service/pokemon.service.ts
Due: npm run lint, npm run format:fix

chore: rename types for pokemon data
  src/shared/api/types/AllPokemonTypes.ts
Due: npm run lint, npm run format:fix

refactor: replace fetch with searchPokemon service, move types and constants to the end of the file
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

chore: update imports
  src/pages/main/components/ResultsTable/ResultsTable.tsx
  src/pages/main/components/ResultsTable/components/AllPokemonsTable.tsx
Due: npm run lint, npm run format:fix

refactor: move types and interfaces to the end of files
  src/app/App.tsx
  src/app/providers/ErrorBoundary/ErrorBoundary.tsx
  src/pages/main/components/ResultsTable/ResultsTable.tsx
  src/pages/main/components/ResultsTable/components/AllPokemonsTable.tsx
  src/pages/main/components/ResultsTable/components/SinglePokemonTable.tsx
  src/pages/main/components/SearchBox/SearchBox.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/DataUploadError.tsx
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:fix

chore(config): add libraries for testing and coverage, update gitignore
  .gitignore
  package-lock.json
  package.json
Due: none

chore(config): update configs in package.json
  package-lock.json
  package.json
Due: none

chore(config): add types for testing in tsconfig.app.json
  tsconfig.app.json
Due: none

chore(config): add vitest config
  vitest.config.js
Due: none

chore(config): add a config to run the tests
  setup.js
Due: none

test: add tests for AllPokemonTable component
  src/pages/main/tests/ResultsTable/components/AllPokemonTable.test.tsx
Due: npm run lint, npm run format:fix

feat: add a message if there are no search results, rename component
  src/pages/main/components/ResultsTable/components/AllPokemonTable.tsx
Due: npm run lint, npm run format:fix

chore: update imports for AllPokemonTable
  src/pages/main/components/ResultsTable/ResultsTable.tsx
Due: npm run lint, npm run format:fix

test: add mocks data for tests
  src/shared/testsMocks/AllPokemonMocks.ts
  src/shared/testsMocks/SinglePokemonMocks.ts
  src/shared/testsMocks/ThrowErrorMock.tsx
Due: npm run lint, npm run format:fix

chore: update imports for mocks
  src/pages/main/tests/ResultsTable/components/AllPokemonTable.test.tsx
Due: npm run lint, npm run format:fix

test: add tests for SinglePokemonTable component
  src/pages/main/tests/ResultsTable/components/SinglePokemonTable.test.tsx
Due: npm run lint, npm run format:fix

feat: add a message if there are no search results
  src/pages/main/components/ResultsTable/components/SinglePokemonTable.tsx
Due: npm run lint, npm run format:fix

chore: update imports
  src/pages/main/components/ResultsTable/ResultsTable.tsx
Due: npm run lint, npm run format:fix

test: add tests for ResultsTable
  src/pages/main/tests/ResultsTable/ResultsTable.test.tsx
Due: npm run lint, npm run format:fix

test: add tests for SearchBox
  src/pages/main/tests/SearchBox/SearchBox.test.tsx
Due: npm run lint, npm run format:fix

test: add tests for MainPage
  src/pages/main/tests/MainPage.test.tsx
Due: npm run lint, npm run format:fix

feat: add role and aria-label for spinner
  src/shared/ui/Spinner/Spinner.tsx
Due: npm run lint, npm run format:fix

test: add tests for ErrorBoundary
  src/app/tests/providers/ErrorBoundary/ErrorBoundary.test.tsx
Due: npm run lint, npm run format:fix

test: add tests for pokemon.service.ts
  src/shared/tests/api/service/pokemon.service.test.ts
Due: npm run lint, npm run format:fix

chore(config): add pre-push hook with coverage script
  .husky/pre-push
Due: none

chore(config): update unicorn plugin version
  package-lock.json
  package.json
Due: none

chore: add tailwind css plugin in project
  package-lock.json
  package.json
  src/app/styles/main.css
  vite.config.ts
Due: npm run format:fix, npm run stylelint

chore(config): update configs for tailwindcss
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

refactor: convert a ResultTable from a class component to a functional
  src/pages/main/components/ResultsTable/ResultsTable.tsx
Due: npm run lint, npm run format:fix

refactor: convert a SinglePokemonTable from a class component to a functional
  src/pages/main/components/ResultsTable/components/SinglePokemonTable.tsx
Due: npm run lint, npm run format:fix

refactor: convert a AllPokemonTable from a class component to a functional
  src/pages/main/components/ResultsTable/components/AllPokemonTable.tsx
Due: npm run lint, npm run format:fix

refactor: convert a SearchBox from a class component to a functional
  src/pages/main/components/SearchBox/SearchBox.tsx
Due: npm run lint, npm run format:fix

chore(config): disable the unicorn/explicit-length-check rule
  eslint.config.js
Due: none

refactor: convert a MainPage from a class component to a functional
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

refactor: change the data.results.length check
  src/pages/main/components/ResultsTable/components/AllPokemonTable.tsx
Due: npm run lint, npm run format:fix

feat: add useLocalStorage hook
  src/shared/hooks/useLocalStorage.ts
Due: npm run lint, npm run format:fix

refactor: add useLocalStorage hook in MainPage
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

refactor: convert a Button from a class component to a functional
  src/shared/ui/Button/Button.tsx
Due: npm run lint, npm run format:fix

refactor: convert a Input from a class component to a functional
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:fix

refactor: convert a DataUploadError from a class component to a functional
  src/shared/ui/DataUploadError.tsx
Due: npm run lint, npm run format:fix
