Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format:fix"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format:fix"]
}

test: add tests for getErrorMessage
  src/shared/ui/DataUploadError/tests/getErrorMessage.test.ts
Due: npm run lint, npm run format:fix

test: add tests for ResetCacheButton
  src/shared/ui/ResetCacheButton/tests/ResetCacheButton.test.tsx
Due: npm run lint, npm run format:fix

feat: update styles for about page
  src/pages/About/AboutPage.tsx
Due: npm run lint, npm run format:fix

feat: make the CSV loading logic a separate function, update styles
  src/pages/main/ui/SelectionToolbar/SelectionToolbar.tsx
  src/pages/main/ui/SelectionToolbar/downloadCSV.ts
Due: npm run lint, npm run format:fix

feat: add refetch options
  src/app/api/service/base.service.ts
Due: npm run lint, npm run format:fix

chore: add next js to project
  package-lock.json
  package.json
Due: none

chore(config): add config for next js
  next.config.mjs
Due: none

chore(config): update ts config with next js, remove unusable configs
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: none

feat: add ClientOnly component for migration app to next js
  src/app/[[...slug]]/client.tsx
Due: npm run lint, npm run format:fix

feat: add Page component for migration app to next js
  src/app/[[...slug]]/page.tsx
Due: npm run lint, npm run format:fix

feat: feat: add RootLayout component for migration app to next js
  src/app/layout.tsx
Due: npm run lint, npm run format:fix

chore: update gitignore with next js
  .gitignore
Due: none

chore: move the favicon to the root of the app
  src/app/icon.png
Due: none

chore: add postcss config for tailwind
  postcss.config.mjs
Due: none

chore(config): update tailwind config for next js
  tailwind.config.js
Due: none

chore(config): update vitest config with next js
  vitest.config.js
Due: none

chore(config): add types for testing libraries
  tsconfig.json
Due: none

feat: add global css config for next js
  src/app/globals.css
Due: npm run format:fix, npm run stylelint

chore: move global.css import to layout.tsx
  src/app/[[...slug]]/client.tsx
  src/app/layout.tsx
Due: npm run lint, npm run format:fix

chore: remove unusable files
  index.html
  src/app/styles/main.css
  src/main.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: npm run lint, npm run format:fix, npm run stylelint

chore(config): update package.json config
  package-lock.json
  package.json
Due: none

chore: remove unicorn plugin
  eslint.config.js
Due: none

test: remove unusable ignore, update imports
  src/shared/ui/DataUploadError/tests/getErrorMessage.test.ts
  src/shared/ui/ResetCacheButton/tests/ResetCacheButton.test.tsx
Due: npm run lint, npm run format:fix

feat: add next intl i18n config files
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
Due: npm run lint, npm run format:fix

chore(config): add eslint ignore for node modules and next
  eslint.config.js
Due: none

chore(config): update next js config with next intl
  next.config.mjs
  next.config.ts
Due: none

chore(config): remove react router, add next intl in project
  package-lock.json
  package.json
Due: none

chore(config): add ts types for next
  tsconfig.json
Due: none

feat: add json for en text with next intl
  messages/en.json
Due: none

feat: add ru config for next intl
  messages/ru.json
Due: none

feat: update intl language config for header
  messages/en.json
  messages/ru.json
Due: none

feat: add global layout with not-found
  src/app/layout.tsx
  src/app/not-found.tsx
Due: npm run lint, npm run format:fix

feat: add root page with redirect for base lang path
  src/app/page.tsx
Due: npm run lint, npm run format:fix

refactor: move providers to separate file
  src/app/providers.tsx
Due: npm run lint, npm run format:fix

feat: add locale layout for next intl
  src/app/[locale]/layout.tsx
Due: npm run lint, npm run format:fix

chore: remove react routing
  src/app/App.tsx
Due: npm run lint, npm run format:fix

chore: remove unusable files
  src/app/[[...slug]]/client.tsx
  src/app/[[...slug]]/page.tsx
  src/pages/About/AboutPage.tsx
  src/pages/NotFound/NotFoundPage.tsx
  src/pages/main/MainPage.tsx
  src/pages/main/ui/DetailedCharacterLayout.tsx
Due: npm run lint, npm run format:fix

feat: add not-found with locale
  src/app/[locale]/not-found.tsx
Due: npm run lint, npm run format:fix

feat: add main page with next js
  src/app/[locale]/page.tsx
Due: npm run lint, npm run format:fix

refactor: change spinner styles with tailwind, remove spinner.css
  src/shared/ui/Spinner/Spinner.css
  src/shared/ui/Spinner/Spinner.tsx
Due: npm run lint, npm run format:fix, npm run stylelint
