Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format:fix"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format:fix"]
}

feat: move header to layout, change styles
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
Due: npm run lint, npm run format:fix

feat: add about page, change styles
  src/app/[locale]/about/page.tsx
Due: npm run lint, npm run format:fix

feat: add styles for main page
  src/app/[locale]/page.tsx
Due: npm run lint, npm run format:fix

feat: add detailed page, update styles with tailwind
  src/app/[locale]/@details/character/[id]/page.tsx
Due: npm run lint, npm run format:fix

feat: update useCharactersSearch hook with next/navigation
  src/pages/main/hooks/useCharactersSearch.ts
Due: npm run lint, npm run format:fix

feat: change AllCharactersTable with next/navigation, update styles
  src/pages/main/ui/AllCharactersTable.tsx
Due: npm run lint, npm run format:fix

feat: add as const for locales
  src/i18n/routing.ts
Due: npm run lint, npm run format:fix

feat: add ToggleLanguageButton
  src/shared/ui/ToggleLanguageButton/ToggleLanguageButton.tsx
Due: npm run lint, npm run format:fix

feat: add default view for details
  src/app/[locale]/@details/default.tsx
Due: npm run lint, npm run format:fix

feat: add a redirect to NotFound when switching to any invalid path
  src/app/[locale]/[...rest]/page.tsx
Due: npm run lint, npm run format:fix

feat: add styles for pagination
  src/pages/main/ui/Pagination/Pagination.tsx
Due: npm run lint, npm run format:fix

fix: fix styles for details
  src/app/[locale]/@details/character/[id]/page.tsx
Due: npm run lint, npm run format:fix

feat: add a query update when changing props, update styles, remove module.css
  src/pages/main/ui/SearchBox/SearchBox.module.css
  src/pages/main/ui/SearchBox/SearchBox.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

chore: remove react icon
  src/assets/react.svg
Due: none

feat: add a check for guaranteed use of local storage only on the client side
  src/shared/hooks/useLocalStorage.ts
Due: npm run lint, npm run format:fix

chore: remove unusable input styles
  src/shared/ui/Input/Input.module.css
Due: npm run format:fix, npm run stylelint

chore: add eslint-disable-next-line react-refresh
  src/app/[locale]/layout.tsx
Due: npm run lint, npm run format:fix

feat: add ToggleLanguageButton, update links with next intl, update styles
  src/shared/ui/Header/Header.tsx
Due: npm run lint, npm run format:fix

feat: change the csv upload function so that the file is assembled on the server side
  src/app/api/csv-download/route.ts
  src/pages/main/ui/SelectionToolbar/SelectionToolbar.tsx
  src/pages/main/ui/SelectionToolbar/downloadCSV.ts
Due: npm run lint, npm run format:fix

chore: change structure of project, update configs
  package-lock.json
  package.json
  src/__tests__/providers/ErrorBoundary/ErrorBoundary.test.tsx
  src/app/[locale]/@details/character/[id]/page.tsx
  src/app/providers.tsx
  src/app/tests/App.test.tsx
  src/pages/main/hooks/useCharactersSearch.ts
  src/pages/main/tests/MainPage.test.tsx
  src/pages/main/tests/ui/AllCharactersTable.test.tsx
  src/pages/main/tests/ui/DetailedCharacterLayout.test.tsx
  src/shared/api/service/base.service.ts
  src/shared/api/service/characters/character.service.ts
  src/shared/mocks/renderFunctions.tsx
  src/shared/providers/ErrorBoundary/ErrorBoundary.tsx
  src/shared/providers/ThemeProvider/ThemeContext.ts
  src/shared/providers/ThemeProvider/ThemeProvider.tsx
  src/shared/providers/ThemeProvider/useTheme.ts
  src/shared/ui/ResetCacheButton/ResetCacheButton.tsx
  src/shared/ui/ResetCacheButton/tests/ResetCacheButton.test.tsx
  src/shared/ui/ToggleThemeButton/ToggleThemeButton.tsx
  src/store/store.ts
Due: npm run lint, npm run format:fix

chore: add eslint plugin for next js
  eslint.config.js
  package-lock.json
  package.json
Due: none

chore(config): update ES version to 2022
  tsconfig.json
Due: none

fix: fix project structure for next build
  eslint.config.js
  package-lock.json
  package.json
  src/__tests__/pages/main/SearchBox/SearchBox.test.tsx
  src/__tests__/pages/main/ui/Pagination/Pagination.test.tsx
  src/__tests__/pages/main/ui/Pagination/getVisiblePageNumbers.test.ts
  src/__tests__/pages/main/ui/SelectionToolbar/SelectionToolbar.test.tsx
  src/__tests__/pages/main/ui/SingleCharacterTable.test.tsx
  src/app/[locale]/@details/character/[id]/page.tsx
  src/app/[locale]/page.tsx
  src/components/main-page/AllCharactersTable.tsx
  src/components/main-page/Pagination/Pagination.tsx
  src/components/main-page/Pagination/getVisiblePageNumbers.ts
  src/components/main-page/SearchBox/SearchBox.tsx
  src/components/main-page/SelectionToolbar/SelectionToolbar.tsx
  src/components/main-page/SelectionToolbar/downloadCSV.ts
  src/components/main-page/SingleCharacterTable.tsx
  src/shared/hooks/useCharactersSearch.ts
Due: npm run lint, npm run format:fix

chore(config): remove thresholds from vitest config
  vitest.config.js
Due: none

feat: add localization to multiple components
  messages/en.json
  messages/ru.json
  src/components/main-page/AllCharactersTable.tsx
  src/components/main-page/SearchBox/SearchBox.tsx
  src/shared/ui/ResetCacheButton/ResetCacheButton.tsx
  src/shared/ui/ToggleThemeButton/ToggleThemeButton.tsx
Due: npm run lint, npm run format:fix

test: remove test files
  src/__tests__/pages/main/SearchBox/SearchBox.test.tsx
  src/shared/ui/ResetCacheButton/tests/ResetCacheButton.test.tsx
Due: npm run lint, npm run format:fix

feat: add ErrorBoundary with locales
  messages/en.json
  messages/ru.json
  src/app/providers.tsx
  src/shared/providers/ErrorBoundary/ErrorBoundary.tsx
Due: npm run lint, npm run format:fix

fix: fix errors for next build
  src/app/providers.tsx
  src/shared/providers/ErrorBoundary/ErrorBoundary.tsx
Due: npm run lint, npm run format:fix

chore: add base project configurations
  .gitignore
  .lintstagedrc.json
  .prettierrc
  .stylelintrc.json
  README.md
  commitlint.config.js
  eslint.config.js
  index.html
  package-lock.json
  package.json
  setup.js
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vercel.json
  vite.config.ts
  vitest.config.js
Due: none

chore: add react hook form, yup, zustand
  package-lock.json
  package.json
Due: none

feat: update app title
  index.html
Due: none

feat: add Modal component
  src/shared/ui/Modal.tsx
Due: npm run lint, npm run format:fix

feat: add main, App and main styles
  src/app/App.tsx
  src/main.css
  src/main.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

chore: add dts for vite
  src/vite-env.d.ts
Due: npm run lint, npm run format:fix

feat: add types for forms
  src/store/types.ts
Due: npm run lint, npm run format:fix

feat: add ts type guards
  src/shared/utils/typeguards.ts
Due: npm run lint, npm run format:fix

feat: add function for get error messages
  src/shared/utils/getErrorMessage.ts
Due: npm run lint, npm run format:fix

feat: add form input component
  src/shared/ui/inputs/FormInput.tsx
Due: npm run lint, npm run format:fix

feat: add yup schema
  src/pages/main/model/schema.ts
Due: npm run lint, npm run format:fix

feat: add country list
  src/shared/model/countryList.ts
Due: npm run lint, npm run format:fix
