Repository RobMarv1n/class-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format:fix, npm run stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx}": ["npm run lint", "npm run format:fix"],
  "src/**/*.{css,scss}": ["npm run stylelint", "npm run format:fix"]
}

feat: add SearchButton component
  src/pages/main/components/SearchBox/components/SearchButton/SearchButton.tsx
Due: npm run lint, npm run format:fix

feat: add SearchInput component
  src/pages/main/components/SearchBox/components/SearchInput/SearchInput.tsx
Due: npm run lint, npm run format:fix

feat: add SearchBox component
  src/pages/main/components/SearchBox/SearchBox.tsx
Due: npm run lint, npm run format:fix

feat: add MainPage to App
  src/App.tsx
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

feat: add SearchApiPath component
  src/pages/main/components/SearchBox/SearchBox.tsx
  src/pages/main/components/SearchBox/components/SearchApiPath/SearchApiPath.tsx
Due: npm run lint, npm run format:fix

feat: add styles for SearchBox
  src/pages/main/components/SearchBox/SearchBox.css
Due: npm run format:fix, npm run stylelint

feat: add ResultsTable component
  src/pages/main/components/ResultsTable/ResultsTable.tsx
Due: npm run lint, npm run format:fix

feat: transfer Api access to MainPage
  src/pages/main/MainPage.tsx
  src/pages/main/components/SearchBox/SearchBox.tsx
Due: npm run lint, npm run format:fix

chore(config): off unicorn/no-null rule
  eslint.config.js
Due: none

feat: add ErrorBoundary component
  src/app/providers/ErrorBoundary/ErrorBoundary.tsx
Due: npm run lint, npm run format:fix

feat: add ErrorBoundary to the App, move the App.tsx and App.css to another folder
  src/App.tsx
  src/app/App.tsx
  src/app/styles/App.css
  src/main.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

feat: add new types and reorganize old types in a separate directory
  src/shared/api/endpoints.ts
  src/shared/api/types/AllPokemonsTypes.ts
  src/shared/api/types/SinglePokemonTypes.ts
Due: npm run lint, npm run format:fix

feat: add an AllPokemonsTable component to output all Pokemon
  src/pages/main/components/ResultsTable/components/AllPokemonsTable.tsx
Due: npm run lint, npm run format:fix

feat: add a SinglePokemonTable component for displaying information on a single Pokemon
  src/pages/main/components/ResultsTable/components/SinglePokemonTable.tsx
Due: npm run lint, npm run format:fix

feat: delete SearchApiPath and add new paragraph with START_SEARCH_ENDPOINT
  src/pages/main/components/SearchBox/SearchBox.tsx
  src/pages/main/components/SearchBox/components/SearchApiPath/SearchApiPath.tsx
Due: npm run lint, npm run format:fix

feat: add DataUploadError component for display data upload errors
  src/shared/ui/DataUploadError.tsx
Due: npm run lint, npm run format:fix

feat: add all child components to ResultsTable
  src/pages/main/components/ResultsTable/ResultsTable.tsx
Due: npm run lint, npm run format:fix

feat: add error conclusions and additional checks to MainPage
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

feat: add Spinner component with styles
  src/shared/ui/Spinner/Spinner.css
  src/shared/ui/Spinner/Spinner.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

feat: add Spinner to MainPage
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

feat: add crash test button to MainPage
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

refactor: rename boolean states for MainPage
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

feat: wrap the SearchBox in a form, add a form submission handler
  src/pages/main/components/SearchBox/SearchBox.tsx
  src/pages/main/components/SearchBox/components/SearchButton/SearchButton.tsx
Due: npm run lint, npm run format:fix

feat: add save last query on local storage
  src/pages/main/MainPage.tsx
  src/pages/main/components/SearchBox/SearchBox.tsx
  src/pages/main/components/SearchBox/components/SearchInput/SearchInput.tsx
Due: npm run lint, npm run format:fix

feat: make a request for all Pokemon sent on the first page load
  src/pages/main/MainPage.tsx
Due: npm run lint, npm run format:fix

feat: add styles for ResultsTable
  src/pages/main/components/ResultsTable/ResultsTable.module.css
Due: npm run format:fix, npm run stylelint

refactor: put the definition of the content inside the ResultsTable in a single variable
  src/pages/main/components/ResultsTable/ResultsTable.tsx
Due: npm run lint, npm run format:fix

feat: add styles for SearchBox, rename style file
  src/pages/main/components/SearchBox/SearchBox.css
  src/pages/main/components/SearchBox/SearchBox.module.css
  src/pages/main/components/SearchBox/SearchBox.tsx
  src/pages/main/components/SearchBox/components/SearchInput/SearchInput.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

chore(config): rename project name, add deploy script
  package-lock.json
  package.json
Due: none

Updates
  .gitignore
  README.md
  class-components/assets/index-BTU-3Il7.css
  class-components/assets/index-jzihJ5fC.js
  class-components/index.html
  class-components/vite.svg
Due: none

feat: add new favicon, change title
  index.html
  public/pokeball.png
  public/vite.svg
Due: none

feat: change pokemon width in SinglePokemonTable component
  src/pages/main/components/ResultsTable/components/SinglePokemonTable.tsx
Due: npm run lint, npm run format:fix

style: change SInglePokemon to SInglePokemonData type name
  src/pages/main/MainPage.tsx
  src/pages/main/components/ResultsTable/ResultsTable.tsx
  src/shared/api/types/SinglePokemonTypes.ts
Due: npm run lint, npm run format:fix

feat: add Button component with base styles
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/Button.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

feat: add global css variables
  src/app/styles/base/variables.css
Due: npm run format:fix, npm run stylelint

feat: add Input component with base styles
  src/shared/ui/Input/Input.module.css
  src/shared/ui/Input/Input.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

feat: add new main styles for App
  src/app/styles/base/settings.css
  src/app/styles/main.css
Due: npm run format:fix, npm run stylelint

chore: remove old css files, update imports
  src/app/App.tsx
  src/app/styles/App.css
  src/index.css
  src/main.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

refactor: replace old components with new Input and Button components, and adjust styles
  src/pages/main/components/SearchBox/SearchBox.module.css
  src/pages/main/components/SearchBox/SearchBox.tsx
Due: npm run lint, npm run format:fix, npm run stylelint

chore: remove SearchButton, SearchInput components
  src/pages/main/components/SearchBox/components/SearchButton/SearchButton.tsx
  src/pages/main/components/SearchBox/components/SearchInput/SearchInput.tsx
Due: npm run lint, npm run format:fix
